body {
    margin: 0;

}

.mainnav ul {
    margin: 0;
}




.Pesquisa {
    background: #74f1ae;
    width: 680px;
    margin: 22px;
    display: flex;
    justify-content: space-evenly;
    display: flex;
    gap: 10px;
}

.search-bar {
    margin: 0 auto;
    width: 100%;
    height: 15px;
    padding: 0 20px;
    font-size: 1rem;
    border: 3px solid #ced0ce;
    outline: none;
}

:-webkit-input-placeholder {
    transition: opacity 0.45s ease;
    opacity: 0;
}

:-moz-placeholder {
    transition: opacity 0.45s ease;
    opacity: 0;
}

:-ms-placeholder {
    transition: opacity 0.45s ease;
    opacity: 0;
}

.masthead li {
    list-style: none;
    float: left;
    padding-left: 6em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    font-weight: bold;
    display: flex;
}


.masthead li a {
    text-decoration: none;
    color: white;
    gap: 1px;
    align-self: left;
}

.masthead li a:hover {
    color: #9165ef;
}

.container {
    display: flex;
    align-items: center;
    gap: 2em;
}

.logo {
    margin-left: 10px;
}


.social {
    background-color: #74f1ae;
    display: flex;
    justify-content: center;
    gap: 2em;
    align-items: center;
}

.retorno {
    margin-left: -3.5em;
}

.dev {
    background-color: #9165ef;
    padding: 1em;
}

.itemRodape {
    display: flex;
    align-items: center;
    gap: 0.5em;

}

.itemRodape i {
    color: #9165ef;
}

.dev p {
    text-align: center;
    margin: 0;
}

head {
    margin-top: 100px;
    margin-bottom: 100px;
}

.laranja-verde {
    display: flex;
    justify-content: end;
    margin: auto;
    height: 20px;
    width: 326px;
    border-radius: 20px;
    padding-left: 1em;
    border: none;
    color: #9165ef;
}

.laranja-verde::placeholder {
    color: #9165ef;
}

header {
    z-index: 2;
    right: 0;
    left: 0;
    height: 80px;
    background: #74f1ae;
    font-family: 'open_sansregular';
    margin: none;
    position: 0;
    top: 0;
    display: flex;
}

main {
    margin-top: 3em;
    text-align: center;
    margin: none;
    
}

.sobrenos {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-display: center;
    margin: none;
   
    
}