body {
    margin: 0;
}

.fundoimagem {
    background-image: url();
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;

}

.masthead {
    background: #74f1ae;
    height: 30mm;
    width: 396mm;
    right: 0;
    left: 0;
}

.masthead li {
    list-style: none;
    display: block;
    float: left;
    padding-left: 3em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    font-weight: bold;

}

.masthead li a {
    text-decoration: none;
    color: white;
}

.mainNav {
    display: flex;
    justify-content: center;
}

.Pesquisa {
    margin-left: 50%;
    height: 15mm;
    width: 396mm;
}

.logo {
    margin-left: 10px;


}